*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(112, 111, 111);
}



.container{
    background:rgb(191, 191, 192);
    height: auto;
    max-width: 22rem;
    margin: 4rem auto;
    padding-bottom: 30px;
}

header{
    background: #111;
    height: 5.5rem;
    width: 100%;
    position: relative;
}

.compass-icon{
    width: 60px;
    height: 60px;
    background: white;
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 15px;
    transform: translate(-50%);
    border-radius: 50%;
}

.weather-title{
    margin:2rem 0;
    text-align: center;
}

.weather-title h1{
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgb(7, 64, 64);
}


form{
    padding: 0 .5rem;

}

form input{
    width: 70%;
    margin-left: 45px;
    height: 2.5rem;
    font-size: 1rem;
    outline: none;
    border: none;
    text-align: center;
    border-bottom: 2px solid black;
}


.result{
    text-align: center;

}
.result .temp{
    font-size: 2rem;
    margin-top: 2rem;
    position: relative;
    color: rgb(7, 64, 64);
}

/* this is how we can add degree symbol on the number  */
.result .temp::after{
    content: 'o';
    position: absolute;
    font-size: 20px;
    top: -5px;
    right: 7rem;
    color: rgb(7, 64, 64);
}

.result .icons-des{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(7, 64, 64);

}

.result .icons-des .icon{
    margin-right: 1rem;
    font-size: 5rem;
    font-weight: bolder;
    color: rgb(7, 64, 64);

}

.result .city{
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: underline;
    color: rgb(7, 64, 64);
}